<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA9_82NE6a_NpOJp77FhNdqH0_8UCTEDPE</string>
	<key>GCM_SENDER_ID</key>
	<string>366186287911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.splendidendeavors.gadgetron.gadgetronApp</string>
	<key>PROJECT_ID</key>
	<string>gadgetron-23712</string>
	<key>STORAGE_BUCKET</key>
	<string>gadgetron-23712.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366186287911:ios:4740c6eaea4ab31dcb8f02</string>
</dict>
</plist>